aiohttp==3.8.3
aiosignal==1.3.1
anyio==3.6.2
argilla==1.5.1
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
autopep8==2.0.1
azure-cognitiveservices-speech==1.26.0
backoff==2.2.1
beautifulsoup4==4.11.2
boto3==1.26.102
botocore==1.29.102
CacheControl==0.12.11
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
ci-info==0.3.0
click==8.1.3
commonmark==0.9.1
configobj==5.0.8
configparser==5.3.0
cryptography==39.0.2
dataclasses-json==0.5.7
Deprecated==1.2.13
dnspython==2.3.0
et-xmlfile==1.1.0
etelemetry==0.3.0
fastapi==0.91.0
filelock==3.10.7
firebase-admin==6.1.0
frozenlist==1.3.3
future==0.18.3
geojson==2.5.0
google-api-core==2.11.0
google-api-python-client==2.80.0
google-auth==2.16.0
google-auth-httplib2==0.1.0
google-cloud-core==2.3.2
google-cloud-firestore==2.10.0
google-cloud-speech==2.17.3
google-cloud-storage==2.7.0
google-cloud-texttospeech==2.14.1
google-crc32c==1.5.0
google-resumable-media==2.4.1
googleapis-common-protos==1.58.0
grpcio==1.51.1
grpcio-status==1.51.1
h11==0.14.0
httpcore==0.16.3
httplib2==0.21.0
httpx==0.23.3
idna==3.4
isodate==0.6.1
janus==1.0.0
jmespath==1.0.1
joblib==1.2.0
jsonlines==3.1.0
langchain==0.0.126
loguru==0.6.0
looseversion==1.1.2
lxml==4.9.2
Markdown==3.4.3
marshmallow==3.19.0
marshmallow-enum==1.5.1
monotonic==1.6
msg-parser==1.2.0
msgpack==1.0.4
multidict==6.0.4
mypy-extensions==1.0.0
networkx==3.0
nibabel==5.0.1
nipype==1.8.5
nltk==3.8.1
numpy==1.23.5
olefile==0.46
openai==0.27.2
openpyxl==3.1.2
packaging==23.0
pandas==1.5.3
pathlib==1.0.1
pdfminer.six==20221105
pdfplumber==0.8.0
Pillow==9.4.0
pinecone-client==2.2.1
proto-plus==1.22.2
protobuf==4.21.12
prov==2.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.13
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.10.4
pydot==1.4.2
Pygments==2.14.0
PyJWT==2.6.0
PyMuPDF==1.21.1
pyowm==3.3.0
pypandoc==1.11
pyparsing==3.0.9
pypdf==3.7.0
PySocks==1.7.1
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==0.21.1
python-magic==0.4.27
python-multipart==0.0.6
python-pptx==0.6.21
pytz==2022.7.1
pyxnat==1.5
PyYAML==6.0
rdflib==6.3.2
regex==2023.3.23
requests==2.28.2
rfc3986==1.5.0
rich==13.0.1
rsa==4.9
s3transfer==0.6.0
scipy==1.10.1
simplejson==3.18.4
six==1.16.0
sniffio==1.3.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.47
starlette==0.24.0
tenacity==8.2.2
tqdm==4.64.1
traits==6.3.2
twilio==7.16.4
typing-inspect==0.8.0
typing_extensions==4.4.0
unstructured==0.5.8
uritemplate==4.1.1
urllib3==1.26.14
uvicorn==0.20.0
Wand==0.6.11
Wave==0.0.2
websockets==10.4
wrapt==1.14.1
XlsxWriter==3.0.9
yarl==1.8.2
